*{
    font-family: 'Poppins';
}

.my-name{
    font-family: Lobster;
    font-size: 28px;
}

.code-icon{
    width: 60px;
}

.projects{
    margin-top: 40px;
}

.card{
    margin: 20px;
}

.icon-div{
    width: 15px;
}

.tick-icon{
    width: 100%;
}