*{
    font-family: 'Poppins';
}

.my-name{
    font-size: 28px;
}

.nav-p{
    padding: 0px 50px;
}

.code-icon{
    width: 60px;
}

.card{
    margin: 20px;
}

.icon-div{
    width: 15px;
}

.tick-icon{
    width: 100%;
}